* {
    margin  : 0;
    border  : none;
    padding : 0;
}

#chart {
    width   : 100%;
    height  : 100%;
    z-index : 1;
}
#download {
    position : absolute;
    z-index  : 2;
    left     : 1em;
    top      : 1em;
    background-color : transparent;
}
#download a {
    text-decoration : none;
}
