<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html lang="{{:table.locale}}">

    <head>

        <title>{{>table.title}}</title>

{{include tmpl="meta"/}}

        <link
            rel="stylesheet"
            type="text/css"
            href="../template/chart.css"
        >

        <script
            type="text/javascript"
            src="https://www.google.com/jsapi"
        ></script>

        <script
            type="text/javascript"
        ><!--

            var table = [
                {{:~formatter.stringify(table.columns)}}{{props table.rows}}
                ,{{:~formatter.stringify(prop)}}{{/props}}
            ],
                heading = table.shift();

            {{if option.continuous}}
            table.forEach( function(row) {
                row[0].v = new Date(row[0].v);
            } );
            {{/if}}

            var option = {
                // TODO: striped fills
                title : "{{>table.title}}",
                legend : { position : "top" },
                interpolateNulls : true, // for "Sandanshiki Kanpan"
                dataOpacity: 0.7,
                lineWidth : 2, // default
                selectionMode : "multiple",
                tooltip : { trigger: "both" },
                crosshair : {
                    trigger     : "both",
                    orientation : "both", // or horizontal
                    opacity     : 0.5
                },
                {{if table.opposite}}
                series : { 4 : { targetAxisIndex : 1 } },
                {{/if}}
                hAxis : {
                    {{if option.horizontal.ticks}}
                    ticks : {{:~formatter.stringify(option.horizontal.ticks)}}.map( function(tick) {
                        return new Date(tick);
                    }),
                    {{/if}}
                    {{if option.horizontal.minorGridlines}}
                    minorGridlines : { count : {{:option.horizontal.minorGridlines}} },
                    {{/if}}
                    slantedText : true,
                    slantedTextAngle : 90
                },
                vAxis : {
                    {{if option.vertical.minorGridlines}}
                    minorGridlines : { count : {{:option.vertical.minorGridlines}} }
                    {{/if}}
                },
                vAxes : {
                    0 : {
                        {{if option.vertical.baseline}}
                        baseline : {{:option.vertical.baseline}},
                        {{/if}}
                        {{if option.vertical.gridlines}}
                        gridlines : { count : {{:option.vertical.gridlines}} },
                        {{/if}}
                        {{if option.vertical.ticks}}
                        ticks : [ {{:option.vertical.ticks}} ],
                        {{/if}}
                        viewWindow : {
                             max : {{:option.vertical.maximum}},
                             min : {{:option.vertical.minimum}}
                        }
                    }
                    {{if table.opposite}}
                    ,1 : {
                        {{if option.vertical.opposingBaseline !== null}}
                        baseline : {{:option.vertical.opposingBaseline}},
                        {{/if}}
                        {{if option.vertical.ticks}}
                        gridlines : { count : {{:option.vertical.ticks.length}} }
                        {{else option.vertical.gridlines}}
                        gridlines : { count : {{:option.vertical.gridlines}} }
                        {{/if}}
                    }
                    {{/if}}
                }
            };

            google.load("visualization", 1, { packages : ["corechart"] });
            google.setOnLoadCallback(drawChart);
            {{if option.redraw}}
            window.onresize = drawChart;
            {{/if}}

            function drawChart() {
                var chart = new google.visualization.LineChart(
                    document.getElementById('chart')
                );
                // To avoid "All series on a given axis must be of the same data type",
                // DO NOT BUILD DATA EASILY AS BELOW:
                // var data = google.visualization.arrayToDataTable(table);
                // The error will be occurred in the case of every rows has null value.
                var data = new google.visualization.DataTable();
                heading.forEach( function(column, index) {
                    data.addColumn( index === 0 ? 'datetime' : 'number', column );
                } );
                data.addRows(table);
                chart.draw(data, option);
                document.getElementById('download').innerHTML =
                    '<a href="' + chart.getImageURI() + '">&#x1f4c8; PNG</a>';

                return;
            }

        --></script>

    </head>

{{include tmpl="body"/}}

</html>
