# General
.*
!.gitignore

# Build
/node_modules/
/npm-debug.log
/lib/kclv.js
/*.zip

# Test
!.csslintrc
!.jshintrc
/extlib/*
!/extlib/.exists
/tmp/
/test/lcov.info
/test/lcov-report/

# CI
!.travis.yml

# Document
/doc/*
!/doc/generator.bat
/README.html

# Sandbox
/chart/*
!/chart/.exists
/*.csv
!/*-sample.csv
